/** using before and hover **/



a {
    position: relative;  /** position relative **/
    text-decoration: none; /** no decoration **/
    color: #8a153a; /** color **/
}

a::before {
    content: ""; /** empty content **/ 
    position: absolute; /** absolute **/
    bottom: 0; 
    left: 0;
    width: 0;
    height: 3px;
    background-color: #8a153a;
    transition: width 0.3s ease-in-out; /** slow transition **/
}

a:hover::before {
    width: 100%; 
}
