body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #f0f0f0; /* Light background for contrast */
}

/* menu */
.menu {
    position: relative;
    display: flex;
    flex-direction: column;
}
/* open button */
.menu-open-button {
    align-items: center;
    text-align: center;
    background-color: red;
    color: black;
    display: inline;
    flex-direction: row;
    padding: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px 0;
    background-color: white;
    transition: opacity 0.3s ease;
}

input[type="checkbox"]:checked ~ .menu-open-button .menu-line {
    opacity: 0; /* Hide .menu-line when menu is open */
}

input[type="checkbox"] {
    display: none;  /* Hide the checkbox */
}


/** the menu item **/
.menu-item {
    flex-direction: column;
    padding: 20px 10px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 24px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    margin-top: 10px;
}

input[type="checkbox"]:checked ~ .menu-item {
    opacity: 1;
    
}
.menu-item:hover{
    background-color: #f0f0f0;
    color: red;
    transition: 0.1s;
    animation: alternate;
    border: 1px solid black;
}

input[type="checkbox"]:checked ~ .menu-open-button::before {
    max-width: 100%;
    width: 10px;
    color: #f0f0f0;
    font-size: 24px; 
    color: #f0f0f0;
    transition: 10s;
    animation: alternate;
    cursor: pointer;
    padding-left: 10px 10px 20px 10px ;
    box-shadow: none;
    content: '✕';
    margin-left: 0px 10px 10px;
    padding: 10px;
    cursor: pointer;
}
