/* 101-style.css */
/* simply use this value => (right,left,top,bottom) */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container {
    display: flex;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    flex-shrink: 0; 
}

.box1 {
    background-color: #28a745; 
    width: 100px;
    height: 100px;
    position: relative;
    right: 220px;
    bottom: -300px;
}

.box2 {
    background-color: #007bff; 
    width: 120px;
    height: 120px;
    position: relative;
    right: 120px; 
    bottom: -190px ;
}

.box3 {
    background-color: #343a40; 
    width: 200px;
    height: 200px;
}

.box4 {
    background-color: #6f42c1; 
    width: 120px;
    height: 120px;
    position: relative;
    left: 200px;
    top: -130px;
}

.box5 {
    background-color: #fd7e14; 
    width: 100px;
    height: 100px;
    position: relative;
    left: 320px;
    top: -241px;
}
