/* extended */

/* first class id .info the parent */
/* the others was children */


.info {
font-size: 12px;
}
.success {
@extend .info;
color: #00FF00;
}
.warning {
@extend .info;
color: #FF0000;
}
